.unassigned-driver_ {
  background-color: rgb(52 211 153);
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}
.unassigned-driver_selected {
  background-color: rgb(5 150 105);
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}
.unassigned-driver_ > * {
  width: "fit-content";
}

.unassigned-driver_selected > * {
  width: "fit-content";
}
.unassigned-truck_ {
  background-color: rgb(52 211 153);
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}
.unassigned-truck_selected {
  background-color: rgb(5 150 105);
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}
.unassigned-truck_ > * {
  width: "fit-content";
}

.unassigned-truck_selected > * {
  width: "fit-content";
}
h2 {
  margin: 5px;
  padding: 5px;
}
