.unassigned-driver_ {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border: solid black 1px;
  border-radius: 2px;
}
.unassigned-driver_selected {
  background-color: gray;
  margin: 5px;
  padding: 5px;
  border: solid black 1px;
  border-radius: 2px;
}
.unassigned-driver_ > * {
  width: "fit-content";
}

.unassigned-driver_selected > * {
  width: "fit-content";
}

.unassigned-truck_ {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border: solid black 1px;
  border-radius: 2px;
}
.unassigned-truck_selected {
  background-color: gray;
  margin: 5px;
  padding: 5px;
  border: solid black 1px;
  border-radius: 2px;
}
.unassigned-truck_ > * {
  width: "fit-content";
}

.unassigned-truck_selected > * {
  width: "fit-content";
}
h2 {
  margin: 5px;
  padding: 5px;
}
