@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-top: solid black 1px;
  }
  .form2 {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(52 211 153);
    border-radius: 4px;
  }

  .form-container {
    background-color: rgb(52 211 153);
    border-radius: 4px;
    margin: 5px;
  }

  .button {
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
  }
  .gallery {
    border-top: solid black 1px;
  }
  .gallery-new {
    margin: 5px;
    padding: 5px;
    border-top: solid black 1px;
  }
}
